<main>
    <section>
        <h1>GitHub Repositories</h1>
        <h4>Showing the top 100 GitHub repositories by number of stars</h4>
        <div *ngIf="isLoading">Loading repositories ...</div>
    </section>
    <app-repository-table
        *ngIf="!isLoading"
        [pagedRepositoryList]="pagedRepositoryList"
        [page]="page"
        [totalPages]="totalPages"
        [perPage]="perPage"
        (changePerPage)="changePerPage($event)"
        (getPage)="getPage($event)"
        (nextPage)="nextPage()"
        (previousPage)="previousPage()"
    ></app-repository-table>
</main>
